<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <h1 style="text-align: center;">Ismoil's blog site</h1>
        
        <form action="{% url 'blogs-filter' %}" method="get">

            <input type="text" name="title">

            <button>Search</button>

        </form>

        <div>
            <h2>Categories</h2>

            {% for category in categories %}
                <a href="{% url 'blogs' category.id %}"><p>{{ category.name }}</p></a>
            {% endfor %}

        </div>


        <div style="display: flex;">
            {% for blog in blogs %}

            <div style="width: 300px; margin: 0 20px;">
                <img src="{{ blog.imageURL }}" alt="{{ blog.title }}">
                <p>Title: {{ blog.title }}</p>
                <p>Description: {{ blog.description|truncatewords:20 }}</p>
            
                <a href="{% url 'blog_details' blog.id %}">Batafsil</a>
            </div>


            {% endfor %}
        </div>

    </body>
</html>